@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    margin: 0;
    background-color: #141414;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

header {
    height: 75px;
    background-color: #141414;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, .9) 0px 50px 45px -30px inset;
    position: fixed;
    top: 0;
    width: 100%;
}

main {
    margin-top: 75px;
}

header img {
    height: 28px;
    margin-left: 3.7vw;
}

header ul {
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 560px;
}

.popular, .drama, .comedy, .horror, .animated {
    color: white;
    font-weight: 800;
    font-size: 20px;
    margin-left: 3.7vw;
    margin-right: 3.7vw;
    width: calc(100vw-7.4vw);
    margin-top: 15px;
}

.films {
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 150px;
    gap: 5px;
}

.filmImage {
    width: 260px;
    height: 150px;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    z-index: 10;
}

.filmImage:hover {
    transform: scale(1.15);
}